<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <% if (user) {%>
        <h1>Welcome back, <%= user.username %></h1>
        <a href="/board/<%= user.url %>/new">New Message</a>
        <a href="/board/<%= user.url %>/membership">Membership</a>
        <a href="/board/user/logout">Log Out</a>

      <% } else {%>
      <a href="/board/user/login">Log In</a>
      <a href="/board/user/signup">Sign Up</a>
    <% } %>
    <h1>
      <%= title %>
    </h1>
      <ul>
      <% messages.forEach(function(msg){%>
        <% if (user && user.membership_status==='Member' ) {%>
        <li style="font-weight: bold; font-size: 18px">By: <%= msg.author.full_name %></li>
        <li style="font-size: 14px;"><%= msg.timestamp_formatted %></li>
        <% } %>

        <li style="font-weight: bold; font-size: 18px"><%= msg.title %></li>
        <li style="font-size: 16px; margin: 2px 0 20px;"><%= msg.text %></li>
        <% if (user && user.admin_status==='Admin' ) {%>

          <form method="POST" action="/board/<%= msg.url %>/delete">
            <input type="hidden" name="extra_submit_param" value="extra_submit_value">
            <button type="submit" name="submit_param" value="submit_value" id="delete_anchor">
              Delete
            </button>
          </form>

          </form>
        <% } %>


        <% }) %>
      </ul>
  </body>
</html>
